* {
  box-sizing: border-box;
}

html {
  @include fullSized;
  @include default;
}

body {
  @include fullSized;
  @include default;
  font-size: 16px;
  line-height: 1.5;
}

#map {
  @include fullSize;
}
