/* albert-sans-300 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Albert Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/albert-sans-v1-latin_latin-ext-300.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/albert-sans-v1-latin_latin-ext-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../assets/fonts/albert-sans-v1-latin_latin-ext-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/albert-sans-v1-latin_latin-ext-300.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/albert-sans-v1-latin_latin-ext-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/albert-sans-v1-latin_latin-ext-300.svg#AlbertSans")
      format("svg"); /* Legacy iOS */
}
/* albert-sans-500 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Albert Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/albert-sans-v1-latin_latin-ext-500.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/albert-sans-v1-latin_latin-ext-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../assets/fonts/albert-sans-v1-latin_latin-ext-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/albert-sans-v1-latin_latin-ext-500.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/albert-sans-v1-latin_latin-ext-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/albert-sans-v1-latin_latin-ext-500.svg#AlbertSans")
      format("svg"); /* Legacy iOS */
}
